.person-head {padding-bottom: 20px;}
.person-head .icon-arrow{
    display: block;
    float: right;
    width: 26px;
    height: 17px;
    background: url(../images/arrow-down.png) no-repeat center center;
    background-size: 14px auto;
}

.person-content{padding-left: 55px;}

.person-photo{width: 200px;}
.person-photo img{
    width: 158px;
    height: 158px;
    -moz-box-shadow:10px 10px 10px #999 inset;              
    -webkit-box-shadow:10px 10px 10px #999 inset;           
    box-shadow:10px 10px 10px #999 inset; 
 }

.person-photo-btn{position: relative;}
.person-photo-btn img{width: 123px;height: 123px;margin-top: 20px;}
.person-photo-btn input[type="file"]{height: 100%;}
.person-photo-hint{display: inline-block;margin-top: 70px;margin-left: 20px;}
.person-photo-hint p{color: #858585;}
.person-content .form-group{margin-left: -35px;}

.person-content input[type="text"],.person-content textarea{width: 250px;}

.form-radio-label{width: 50px;display: inline-block;margin-left: 5px;color: #858585;}

.input-hint{color: #858585;margin-left: 120px;font-size: 12px;line-height: 30px;}
.input-hint-inine{display: inline-block;margin-left: 0;}
.btn-rc{float: right;}
.edit-btn{color: #578e33;margin-left: 20px;}
.corRed{color: #fc4605;}
.corGreen{color: #9acd44;}

.my-person-item{padding:20px 30px;overflow: hidden;}
.my-person-item label{text-align: left;}

/*-----我的收货地址-----*/
.yc-module-search{float: right;}
.address-form{float: left;}
.address-form.yc-form-container {margin: 0;}
.address-form label{text-align: right}
.address-form input[type="checkbox"]{margin-right: 10px;}
.yc-module-search .form-group{margin-top: 7px;margin-bottom: 0;margin-right: 10px;}
.yc-table-search-left{text-align: left;}
.green-btn{background-color: #9acd44;color: #FFF;}
.orange-btn{background-color: #ff4001;color: #FFF;}
.address-hint{margin-bottom: 10px;}
.address-hint span{min-width: 100px;margin-right: 15px;text-align: right;display: inline-block;}
.yc-form-container.address-form .yc-btn{border-radius: 4px;width: auto;}
.address-count{color: #fc600d;margin-top: 20px;display: block;}
.table-striped a{margin:0 5px;}

.defAddress{border: 1px solid #fe3000;color: #fe3000;background-color: #ffd5cc;border-radius: 4px;padding: 2px 4px;margin-left: 10px;}
.add-address-btn{color: #FFF;border-radius: 4px;background-color: #98cf4f;padding: 10px 20px;display: inline-block;}

/*------我的菜篓------*/
.yc-column{float: none;width: 100%;}
.table-pic{display: inline-block;width: 60px;height: 60px;overflow: hidden;margin-left: 10px;}
.table-pic img{width: 100%;height: 100%;}
.table-ckbox{vertical-align: top;}
.table-num{width: 40px;}
.my-count{text-align: right;margin-bottom: 20px;}
.my-count span{color: #6cae40;margin-right: 20px;}
.my-count i{font-style: normal;}
.my-count .total{font-size: 16px;color: #fd1c00;font-weight: bold;}

/*-------确认订单-------*/
.hander-row a{display: inline-block;color: #7b7b7b;margin-right: 30px;margin-bottom: 20px;}
.hander-row .active{color: #000;}
.order-content .date-row{text-align: right;}
.order-content .date-row label{margin-left: 10px;}
.order-content .hint-row{text-align: right;font-size: 12px;color: #757575;margin: 10px 0;}
.address-list{margin-bottom: 20px;}
.address-list .address-item{float: left;width: 260px;margin-right: 20px;border: 1px solid #dedede;background-color: #FFF;padding: 10px 0 10px 0;position: relative;}
.address-list .address-item p{line-height: 20px;margin-bottom: 5px;color:#7b7b7b;margin-left: 20px;margin-right: 50px; }
.address-list .address-item .update-row{text-align: right;margin-right: 20px;}
.address-list .address-item .update-row a{color: #7b7b7b;}
.address-list .address-icon{position: absolute;width: 23px;height: 23px;background: url(../images/address_icon.png) no-repeat;top: 10px;right: 10px;}
.address-list .add-address{min-height: 128px;background: url(../images/add_bg.png) center no-repeat #FFF;width: 250px;}

.returnMH-btn{float: right;color: #9acd44;font-size: 12px;}


/*--------菜地详细----------*/
.my-garden-detail{background-color: #fafafa;overflow: hidden;}
.my-garden-detail .my-garden-item{margin-bottom: 0;padding-bottom: 0;padding-left: 20px;}
.my-garden-detail .my-garden-pics{margin-right: 30px;width: 128px;padding-left: 0;}
.my-garden-detail .my-garden-pics img{width: 100%;height: 128px;}
.my-garden-detail .my-garden-info{float: left;margin-right: 30px;}
.my-garden-detail .my-garden-info h4{font-size: 16px;}
.my-garden-detail .update-btn{font-size: 12px;color: #757575;}
.my-garden-detail .pz,.my-garden-detail .zt{display: inline-block;font-size: 14px;color: #5c5c5c;margin:10px 20px 10px 0;}
.my-garden-info2 {float: left;width: 45%;}
.my-garden-info2 p{float: left;width: 50%;font-size: 12px;margin-bottom: 5px;text-indent:10px;}
.my-garden-info2 .date-row{margin-bottom: 10px;background-color: #cbc9c9;}

.my-garden-pic-list .left-box{float: left;width: 128px;border-right:3px solid #e6e6e6;margin-left: 20px;margin-bottom:-100000px;padding-bottom:100000px;}
.my-garden-pic-list .left-box h4{font-size: 14px;color: #93d057;}
.my-garden-pic-list .left-box p{line-height: 30px;padding-left: 10px;}
.my-garden-pic-list .left-box .line-icon{display: inline-block;width: 3px;height: 12px;background-color: #93d057;margin-right: 10px;}
.my-garden-pic-list .right-box{float: right;width: 785px;}

.photo-box{position: relative;float: left;}
.photo-box a{display: block;}
.photo-box .photo-box-content{background-color: #FFF;border-radius: 4px;padding: 10px;padding-bottom: 30px;margin:20px 15px 20px 0;width: 336px;box-shadow:3px 3px 3px #ddd;}
.photo-box .round{position: absolute;width: 20px;height: 20px;top: 34px;left:-37px;background: url(../images/round-icon.png) center no-repeat;background-size: 18px;}
.photo-box .book-name{margin-bottom: 25px;}
.photo-box .books-list{overflow: hidden;}
.photo-box h4{color: #000;font-size: 16px;font-weight: normal;}
.photo-box strong{color: #7bb054;font-weight: normal;font-size: 18px;}
.photo-box .new-des{font-size: 14px;}
.photo-box .bookbarImg-list{overflow: hidden;margin-top: 5px;}
.photo-box .pic{padding-right:5px;margin-top: 20px;}
.photo-box .pic img{width: 100%;}
.photo-box .source{font-size: 12px;margin-top: 5px;}
.photo-box .info-icon{position: absolute;left:-110px;top: 28px;height: 27px;width: 75px;background: url(../images/infor-icon.png) no-repeat;line-height: 27px;color: #FFF;text-indent: 10px;}
/*.photo-box .pointer{border: 10px solid transparent;border-right: 10px solid #FFF;width: 0;height: 0;position: absolute;content: ' ';bottom: 50%;left:-20px;box-shadow:0px 0px 0px #ddd;}*/
.photo-box .pointer{background: url(../images/jt_icon.png) center no-repeat;position: absolute;left:-18px;top: 30px;height: 26px;width: 17px;}
.photo-list-item .line-row{border-top: 3px dashed #97d25a;display: inline-block;width: 60px;float: left;margin-top: 50px;margin-left: -12px;}
.photo-list-item .big-photo-box{float: left;width: 230px;background-color: #FFF;border-radius: 6px;box-shadow:3px 3px 3px #ddd;padding: 10px;margin-top: 30px;}
.photo-list-item .big-photo-box img{width: 100%;}