
.icon-share {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    width: 23px;
    height: 25px;
    background: url(../images/icon-share.png) no-repeat center center;
}
.yc {
    margin: 0;
    padding: 0;
    font-size: 12px;
    background-color: #e7e7e7;
}
.yc-bg {
    background-color: #e7e7e7;
}



/* 主页 */
.yc-home-container {

}
.yc-main {
    position: relative;
    min-height: 200px;
    margin-top: 60px;
}
.yc-main-home .yc-module {
    margin-bottom: 15px;
}
/* 左边导航 */
.yc-leftsidebar {
    float: left;
    width: 200px;
    margin-right: 10px;
}
.yc-leftsidebar-userinfo {

}
.yc-userinfo-portrait {
    text-align: center;
    width: 120px;
    min-height: 100px;
    padding-top: 15px;
}
.yc-userinfo-portrait img {
    text-align: center;
    width: 90px;
    height: 90px;
    border-radius: 100%;
}
.yc-userinfo-name {
    line-height: 2;
    padding-top:30px;
}
.yc-userinfo-money {
    text-align: center;
    padding: 7px 0;
}
.yc-btn-deposit{
    background-color: #9acd44;
    color: #FFF;
    display: inline-block;
    padding: 3px 10px;
    margin: 0 7px;
}
.yc-leftsidebar-menu {
    min-height: 200px;
    padding: 15px 0;
}
.yc-menu-list {
    display: block;
    width: 80%;
    margin: 0 auto;
}
.yc-menu-headline {
    position: relative;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;

}
.yc-menu-headline .icon-arrow {
    display: block;
    position: absolute;
    width: 26px;
    height: 17px;
    right: 3px;
    top: 5px;
    background: url(../images/arrow-down.png) no-repeat center center;
    background-size: 14px auto;
}
.aria-expanded i.icon-arrow {
    background: url(../images/arrow-up.png) no-repeat center center;
    background-size: 14px auto;
}
.yc-link-menu {
    color: #ddd;
    display: block;
    text-indent: 20px;
    color: #999;
    padding: 5px 0;
}
.yc-leftsidebar-userinfo ,.yc-content-gardeninfo {
    height: 150px;
    overflow: hidden;
}
/* 中间内容 */
.yc-content {
    width: 740px;
    float: right;
}
.yc-content-garden {
    float: left;
    width: 550px;
}
.yc-gardeninfo {
    padding-left: 20px;
    padding-top: 5px;
    line-height: 1.5;
}
.yc-content-garden .garden-item {
    padding: 15px 15px;
    margin-bottom: 15px;
    background-color: #FFF;
}
.yc-content-garden .garden-headline {
    font-size: 14px;
    line-height: 2;
    font-weight: normal;
}
.yc-content-garden .garden-pics {
    padding: 5px 0;
}
.yc-content-garden .garden-pic {
    width: 140px;
    height: 86px;
    margin-right: 1px;
    margin-bottom: 7px;
}
.yc-content-garden .garden-btn-share {
    background-color: #FFF;
}
.yc-content-garden .garden-actions {
    text-align: right;
}


.yc-rightsidebar {
    float: right;
    width: 190px;
}
.rank-list {
    padding: 15px 12px;
}
.rank-item {
    margin-bottom:10px;
}
.rank-avatar {
    border-radius: 100%;
    margin-right: 7px;
}
.rank-avatar ,.rank-title {
    display: inline-block;
    vertical-align: middle;
}


/* 消息中心 */
.yc-message-content {
    background-color: #FFF;
}
.yc-message-unread {
    color: red;
}
.yc-message-list {
    padding: 7px 15px;
    font-size: 0;
    letter-spacing: -3px;
}
.yc-message-item {
    letter-spacing: normal;
    font-size: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}
.yc-message-type {
    text-align: center;
    width: 10%;
}
.yc-message-title {
    width: 53%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.yc-message-status {
    text-align: center;
    width: 10%;
}
.yc-message-date {
    width: 25%;
    text-align: center;
}
.yc-message-detail .panel-body {
    background-color: #f7f7f9;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
.yc-message-col {
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
}
.yc-form-container {
    margin:20px 15px;
    padding-bottom:30px; 
}
.label-tips {
    display: block;
    color: red;
}
.btn-upload-pick {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/upload-bg.png) no-repeat 0 0;
}



/* 我的服务 */
.yc-module-table {
    margin: 15px 15px;
}
.yc-btn-search {
    margin-left: 10px;
}
.yc-table-search label {
    margin-right: 5px;
}
.yc-table-search  .form-group {
    margin-right: 10px;
}
.yc-table-container {
    margin: 5px 0;
}
.yc-table-search {
    text-align: right;
    margin-bottom: 15px;
}
.yc-table-search .form-group {
    margin-bottom: 0;
}
/* 我的菜地 */
.my-garden-content .yc-module {
    margin-bottom: 15px;    
}
.my-garden-list {

}
.my-garden-item {
    margin-bottom: 15px;
    padding: 20px 0;
    overflow: hidden;
}
.my-garden-pics {
    width: 65%;
    height: 150px;
    overflow: hidden;
    float: left;
    padding-left: 20px;
}
.my-garden-pics img{
    width: 220px;
    height: 100%;
    margin-right: 3px;
}
.my-garden-info {
    width: 32%;
    float: right;
}
.my-garden-info p {
    line-height: 1.6;
}
.my-garden-actions {
    margin:10px 0;
    text-align: left;
}
