@charset "utf-8";
/* CSS Document */
*{margin: 0; padding: 0; outline: 0; 
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
  -webkit-box-sizing: border-box;}
html{height: 100%; font-size: 100%; -webkit-text-size-adjust: 100%;}
body{
  font-family: 'Microsoft Yahei',Helvetica, 'Tahoma',Arial, sans-serif; font-size: 14px;
  margin:0; padding:0; width: 100%; height: 100%; position: relative; word-break:break-all;
}
a{text-decoration: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.35);}
table{border-collapse: collapse; border-spacing: 0;}
th, td, caption{vertical-align: middle;}
textarea{resize: none;}
input, button, select, textarea{outline: none; border-radius: 0; font-family: inherit; font-size: inherit;}
ul,ol,li{list-style: none;}
.fr {
  float: right;
}
.fl {
  float: left;
}
.error {
  color: red;
}
.highlight {
  padding: 9px 14px;
  margin-top: 7px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

sub,sup {
    font-size: 8px;
    line-height: 0;
    position: relative;
    /*vertical-align: baseline;*/
}
.clearfix:after{
    content: "xxoo";
    height: 0;
    display: block;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}
*html .clearfix{height: 1%;}/*ie6*/
*+html .clearfix{min-height: 1px;}/*ie7*/
img {
  border:0;
}

/* 分享 */
.share-container {
  position: relative;
}
.share-list {
  width: 90%;
  margin: 0 auto;
  padding: 15px 0;
}
.share-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 32%;
  cursor: pointer;
  color: #000;
}
.share-item-weixin {
  z-index: 11;
}
.share-item-img {
  display: block;
  margin: 0 auto;
  width: 70%;
  border:0;
}
.share-item-title {
  text-align: center;
  line-height: 1.5;
}
/*.share-item-weixin:hover .share-weixin-qrcode {
  display: block;
}*/
.share-weixin-qrcode {
  display: none;
  width: 185%;
  position: absolute;
  left: 0;
  top: 0px;
}

/* 伸展 */
.collapse {
    display: none;
}
/* 分页 */
.paginatin-container {
    background-color: #FFF;
    padding: 10px;
    text-align: right;
}
.pagination {

}
.pagination .active a {
    background-color: #9acd44;
    color: #FFF;
}
.pagination-item  {
    display: inline-block;
    vertical-align: top;
    *display: inline;*zoom:1;
}
.pagination-item a {
    padding: 3px 8px;
    color: #999;
    display: inline-block;
    vertical-align: top;
}
.pagination-item a:hover {
    text-decoration: underline;
}

/* layout */
.yc-btn {
    display: inline-block;
    padding: 5px 15px;
    background-color: #ddd;
    color: #000;
    margin: 0 7px;
    border:0;
    cursor: pointer;
}
.yc-link {
  color: #9acd44;
}
.yc-btn-success {
  color: #FFF;
  background-color: #9acd44;
}
.yc-module {
    background-color: #FFF;
}
.yc-module-headline {
    padding: 5px 0;
}
.yc-module-title1 {
    background-color: #9acd44;
}
.yc-module-title {
    display: inline-block;
    padding-right:35px;
    padding-left: 15px;
    height: 34px;
    line-height: 34px;
    color: #FFF;
    background: #9acd44 url(../images/headline-bg.jpg) no-repeat 100% 0;
}
.yc-inline-b {
    display: inline-block;
    vertical-align: top;
}
.yc-block {
    display: block;
}


.yc-wrapper {
    width: 960px;
    margin: 0 auto;
}

/* 顶部导航 */
.yc-topnav {
    background-color: #7bb255;
    height: 30px;
    line-height: 30px; 
    overflow: hidden;
    color: #FFF;
}
.yc-topnav-l {
    float: left;
}
.yc-topnav-r {
    float: right;
}
.yc-topnav .yc-link {
    color: #FFF;
    margin: 0 10px;
}
.yc-topnav .yc-link:hover {
    text-decoration: underline;
}
.yc-topnav .yc-link:hover , .yc-topnav .yc-link:active {
    color: #FFF;

}
.yc-link-usertips {
    position: relative;
    height: 100%;
}
.yc-link-usertips i {
    display: block;
    position: absolute;
    right: -12px;
    top:3px;
    width: 10px;
    height: 10px;
    background: url(../images/icon-spot.png) no-repeat 0 0;
}
/* 头部菜单 */
.yc-header {
    border-bottom: 1px solid #ddd;
    box-shadow: 3px 3px 3px #ddd;
    background: #FFF url(../images/header-bg.jpg) no-repeat 0 0;
}
.yc-header .yc-wrapper{
    position: relative;
    height:100px;
    /*background-color: red;*/
}
.yc-logo {
    position: absolute;
    width: 140px;
    left: -10px;
    top: 0;
}
.yc-logo-img {
    width: 100%;
}
.yc-mainnav {
    position: absolute;
    bottom: 20px;
    right: 100px;
}
.yc-mainnav-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 25px;
    font-size: 14px;
    color: #999;
}
.yc-mainnav a.cur {
    color: #9dcd43;
}


/* footer */
.yc-footer {
    border-top: 5px solid #acce20;
    background-color: #FFF;
    margin-top: 30px;
    overflow: hidden;
}
.yc-footer .yc-wrapper {
    position: relative;
    padding: 30px 0;
    background: url(../images/footer-logo.jpg) no-repeat 30px center;
}
.yc-footer-info {
    width: 500px;
    margin: 0 auto; 
}
.yc-footer-info dl {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    line-height: 2;
}
.yc-footer-info dl.last {
    width: 130px;
}
.yc-footer-info dl a{
    color: #7f7f7f;
}
.yc-footer-info dt a{
    color: #86510d;
}
.yc-footer .yc-qrcode {
    position: absolute;
    width: 80px;
    top: 20px;
}
.yc-footer .yc-qrcode-title {
    text-align: center;
    line-height: 1.2;
    color: #86510d;
}
.yc-footer .yc-qrcode-img {
    display: block;
    width: 100%;
}
.yc-footer .yc-qrcode-weibo {
    right: 120px;
}
.yc-footer .yc-qrcode-weixin {
    right: 0px;
}


/* form */
.yc-form-container {
  position: relative;
}
.yc-form-container .form-actions .yc-btn-success {
  width: 120px;
}
.yc .sb_dialog_layer_main .form-actions {
  padding-left: 0;
}
.sb_dialog_layer_main .yc-form-container {
  padding-bottom: 0;
}
.sb_dialog_layer_main .form-actions {
  text-align: right;
}
.sb_dialog_layer_main .form-actions .yc-btn {
  
}
.form-group {
  margin-bottom: 10px;
}
.form-label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 15px;
  vertical-align: top;
}
.form-img-cover {
  position: absolute;
  right: 20px;
  top:0px;
  width: 200px;
}
.form-textarea {
  width: 250px;
  height: 80px;
}
.form-input-w50{
  width: 50px;
}
.form-input-w80{
  width: 80px;
}
.form-input-w70{
  width: 70px;
}
.form-input-w100{
  width: 100px;
}
.form-input-w100{
  width: 100px;
}
.form-input {
  margin-right: 5px;
}
.yc-form-container .form-actions {
  padding-left: 120px;
}
.form-tip {
  padding: 0 7px;
}
.form-tip i {
  color: red;
  font-style: normal;
  padding: 0 3px;
}

/* count */
.count-container {
  display: inline-block;
  vertical-align: middle;
}
.count-container .count-btn {
  display: inline-block;
  vertical-align: top;
  width:25px;
  height: 25px;
  font-size: 20px;
  text-align: center;
  line-height: 25px;
  background-color: #ddd;
  color: #999;
  font-weight: bold;
}
.count-container .count-input {
  width: 30px;
  font-size: 14px;
  padding: 0 3px;
  height: 25px;
  line-height: 25px;
}
/* dialog */
.yc button.btn-primary, .yc button.btn-primary:hover {
    background-color: #9acd44;
}
.yc .sb_dialog_layer_title h3 {
}
.yc .sb_dialog_layer_title {
  /*background-color: #7bb255 ;*/
  position: relative;
}
/* ie8下奇怪的bug 背景透明了 显示了dialog下的东西 */
.yc .sb_dialog_btn_close {
  display: block;
  background-color: #F3F3F3;
  filter:alpha(opacity:100);
}
.yc .sb_dialog_btn_close:hover {
  filter:alpha(opacity:100);
}
/* 黄 */
.yc-color2 {
    color: #fba102;
}
/* 绿 */
.yc-color1 {
    color: #9acd44;
}
