/*-----我的收货地址-----*/
.corRed{color: #fc4605;}
.corGreen{color: #9acd44;}
.my-person-item{padding:20px 30px;overflow: hidden;}
.yc-module-search{float: right;}
.yc-module-search .form-group{margin-top: 7px;margin-bottom: 0;margin-right: 10px;}
.yc-table-search-left{text-align: left;}
.green-btn{background-color: #9acd44;color: #FFF;}